.button-wrap, .popup-reg-wrap .login-content .login-content-button-wrap, .popup-accept .login-content .login-content-button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}
.button-link, .popup-reg-wrap .login-content .login-content-button-link, .popup-accept .login-content .login-content-button-link {
  text-decoration: none;
  color: #fff;
  border: 0;
  padding: 11px 45px;
  font-size: 16px;
  border: 0;
  text-align: center;
  border-radius: 8px;
}
@media only screen and (max-width: 767px) {
  .button-link, .popup-reg-wrap .login-content .login-content-button-link, .popup-accept .login-content .login-content-button-link {
    flex: 1;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: "HelveticaNeueLTGEO-75Bold";
  src: url("../fonts/HelveticaNeueLTGEO-75Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTGEO-75Bold.otf") format("opentype"), url("../fonts/HelveticaNeueLTGEO-75Bold.woff") format("woff"), url("../fonts/HelveticaNeueLTGEO-75Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueLTGEO-75Bold.svg#HelveticaNeueLTGEO-75Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueLTGEO-55Roman";
  src: url("../fonts/HelveticaNeueLTGEO-55Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTGEO-55Roman.otf") format("opentype"), url("../fonts/HelveticaNeueLTGEO-55Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTGEO-55Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTGEO-55Roman.svg#HelveticaNeueLTGEO-55Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueLight_0";
  src: url("../fonts/HelveticaNeueLight_0.woff");
  font-weight: normal;
  font-style: normal;
}
b, strong, .bold {
  font-family: "HelveticaNeueLTGEO-75Bold";
}

.not-bold {
  font-family: "HelveticaNeueLTGEO-75Bold" !important;
  font-weight: lighter !important;
}

input::placeholder {
  color: inherit !important;
}

.popup-reg-wrap, .popup-accept {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 90;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
}
.popup-reg-wrap.active, .c-header .popup-reg-wrap.header-menu-list-item:hover, .c-header .c-header-item.right .wrap .content > ul > li.popup-reg-wrap:hover, .c-header-item.right .wrap .c-header .content > ul > li.popup-reg-wrap:hover, .c-header .c-header-item.left .content > ul > li.popup-reg-wrap:hover, .c-header-item.left .c-header .content > ul > li.popup-reg-wrap:hover, .popup-accept.active, .c-header .popup-accept.header-menu-list-item:hover, .c-header .c-header-item.right .wrap .content > ul > li.popup-accept:hover, .c-header-item.right .wrap .c-header .content > ul > li.popup-accept:hover, .c-header .c-header-item.left .content > ul > li.popup-accept:hover, .c-header-item.left .c-header .content > ul > li.popup-accept:hover {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.popup-reg-wrap.active .login-content, .c-header .popup-reg-wrap.header-menu-list-item:hover .login-content, .c-header .c-header-item.right .wrap .content > ul > li.popup-reg-wrap:hover .login-content, .c-header-item.right .wrap .c-header .content > ul > li.popup-reg-wrap:hover .login-content, .c-header .c-header-item.left .content > ul > li.popup-reg-wrap:hover .login-content, .c-header-item.left .c-header .content > ul > li.popup-reg-wrap:hover .login-content, .popup-accept.active .login-content, .c-header .popup-accept.header-menu-list-item:hover .login-content, .c-header .c-header-item.right .wrap .content > ul > li.popup-accept:hover .login-content, .c-header-item.right .wrap .c-header .content > ul > li.popup-accept:hover .login-content, .c-header .c-header-item.left .content > ul > li.popup-accept:hover .login-content, .c-header-item.left .c-header .content > ul > li.popup-accept:hover .login-content {
  opacity: 1;
}
.popup-reg-wrap .login-content, .popup-accept .login-content {
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
  border: 0;
  width: 400px;
  max-width: 100%;
}
.popup-reg-wrap .login-content .login-assets, .popup-accept .login-content .login-assets {
  border-bottom: 1px solid rgba(62, 62, 62, 0.2);
  padding-bottom: 20px;
}
.popup-reg-wrap .login-content .login-rest-assets, .popup-accept .login-content .login-rest-assets {
  padding-top: 20px;
}
.popup-reg-wrap .login-content .login-rest-assets-text, .popup-accept .login-content .login-rest-assets-text {
  font-size: 12px;
  color: #3E3E3E;
  text-align: center;
  padding-bottom: 0px;
}
.popup-reg-wrap .login-content .login-content-wrap, .popup-accept .login-content .login-content-wrap {
  padding: 10px;
}
@media only screen and (max-width: 767px) {
  .popup-reg-wrap .login-content .login-content-wrap, .popup-accept .login-content .login-content-wrap {
    padding: 0;
  }
}
.popup-reg-wrap .login-content .login-content-text, .popup-accept .login-content .login-content-text {
  color: #3E3E3E;
  font-size: 12px;
  text-align: center;
}
.popup-reg-wrap .login-content .login-content-text-title, .popup-accept .login-content .login-content-text-title {
  font-size: 16px;
}
.popup-reg-wrap .login-content .login-content-forgot-link, .popup-accept .login-content .login-content-forgot-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 15px;
}
.popup-reg-wrap .login-content .login-content-forgot-link-link, .popup-accept .login-content .login-content-forgot-link-link {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #008DD0;
}
.popup-reg-wrap .login-content .login-content-forgot-link.serve .login-content-forgot-link-link, .popup-accept .login-content .login-content-forgot-link.serve .login-content-forgot-link-link {
  font-size: 16px;
}
.popup-reg-wrap .login-content .login-content-link, .popup-accept .login-content .login-content-link {
  color: #008DD0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.popup-reg-wrap .login-content .login-content-link span, .popup-accept .login-content .login-content-link span {
  border-bottom: 1px solid #008DD0;
  padding-bottom: 3px;
}
.popup-reg-wrap .login-content .login-content-input, .popup-accept .login-content .login-content-input {
  margin-top: 10px;
}
.popup-reg-wrap .login-content .login-content-input input, .popup-accept .login-content .login-content-input input {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(62, 62, 62, 0.1);
  border-radius: 8px;
  color: #3E3E3E;
  padding: 10px;
}
.popup-reg-wrap .login-content .login-content-button, .popup-accept .login-content .login-content-button {
  margin-top: 10px;
}
.popup-reg-wrap .login-content .login-content-button-link, .popup-accept .login-content .login-content-button-link {
  background-color: #0051CC;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.popup-reg-wrap .login-content .login-content-button.pink .login-content-button-link, .popup-accept .login-content .login-content-button.pink .login-content-button-link {
  background-color: #B2006B;
}
.popup-reg-wrap .login-content .login-content-button .icon, .popup-accept .login-content .login-content-button .icon {
  margin-right: 10px;
}
.popup-reg-wrap .login-content .login-content-button .icon svg, .popup-accept .login-content .login-content-button .icon svg {
  width: 15px;
}
.popup-reg-wrap .login-content .login-content-button .icon svg path, .popup-accept .login-content .login-content-button .icon svg path {
  fill: #b2006b;
}
.popup-reg-wrap .login-content .login-content-button .text, .popup-accept .login-content .login-content-button .text {
  font-size: 16px;
}

.error {
  display: none;
}

.error {
  display: none;
  font-size: 11px;
  padding-left: 5px;
  padding-top: 5px;
  color: #B2006B;
}

.broken .error {
  display: block;
}
.broken input, .broken textarea, .broken button {
  border-color: #e5008a !important;
}

.simplebar-track.vertical {
  background-color: #D9D9D9;
  border-radius: 8px;
  width: 2px;
  right: 2px;
}
.simplebar-track.vertical .simplebar-scrollbar {
  right: -1px;
  width: 4px !important;
}
.simplebar-track.vertical .simplebar-scrollbar::before {
  background: #3E3E3E !important;
  border-radius: 8px !important;
  opacity: 1 !important;
}

.textarea {
  border: 1px solid rgba(62, 62, 62, 0.1);
  border-radius: 8px;
}

textarea {
  border: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
textarea::-webkit-scrollbar {
  width: 2px;
  background: #D9D9D9;
}
textarea::-webkit-scrollbar-thumb {
  background: #3E3E3E;
  width: 4px;
  margin-left: -2px;
}

a, button {
  border: 0;
}

body {
  background-color: #F8F8F8;
  font-family: "HelveticaNeueLTGEO-55Roman";
}
body .hideInput {
  position: fixed;
  z-index: -500;
  opacity: 0;
  pointer-events: none;
}
body .c-main {
  padding: 60px 0;
  padding-top: 54px;
}
@media only screen and (max-width: 1365px) {
  body .c-main {
    padding: 30px 10px;
    padding-top: 23px;
  }
}

.date-lie {
  position: relative;
}
.date-lie-input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  pointer-events: all;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.date-lie-input::-webkit-calendar-picker-indicator {
  transform: scaleX(100%);
  width: 200%;
  margin-left: -25px;
}
.date-lie-wrap {
  position: relative;
}
.date-lie-wrap .date-input {
  width: 100%;
}
.date-lie-wrap .icon {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date-lie-wrap .icon svg {
  width: 15px;
}

.checkbox-lie {
  width: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  overflow: hidden;
}
.checkbox-lie-box {
  border-radius: 4px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(62, 62, 62, 0.8);
  align-items: center;
}
.checkbox-lie-icon {
  height: 100%;
  margin-top: -6px;
}
.checkbox-lie-icon svg {
  height: 100%;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
}
.checkbox-lie.active .checkbox-lie-box, .c-header .checkbox-lie.header-menu-list-item:hover .checkbox-lie-box, .c-header .c-header-item.right .wrap .content > ul > li.checkbox-lie:hover .checkbox-lie-box, .c-header-item.right .wrap .c-header .content > ul > li.checkbox-lie:hover .checkbox-lie-box, .c-header .c-header-item.left .content > ul > li.checkbox-lie:hover .checkbox-lie-box, .c-header-item.left .c-header .content > ul > li.checkbox-lie:hover .checkbox-lie-box {
  background-color: #3E3E3E;
}
.checkbox-lie.active .checkbox-lie-icon svg, .c-header .checkbox-lie.header-menu-list-item:hover .checkbox-lie-icon svg, .c-header .c-header-item.right .wrap .content > ul > li.checkbox-lie:hover .checkbox-lie-icon svg, .c-header-item.right .wrap .c-header .content > ul > li.checkbox-lie:hover .checkbox-lie-icon svg, .c-header .c-header-item.left .content > ul > li.checkbox-lie:hover .checkbox-lie-icon svg, .c-header-item.left .c-header .content > ul > li.checkbox-lie:hover .checkbox-lie-icon svg {
  transform: scale(0.6);
  opacity: 1;
}

.c-header {
  background: #fff;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 35px;
  padding-bottom: 20px;
}
.c-header-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  overflow: hidden;
}
.c-header-top img {
  height: 40px;
  width: 100vw;
}
.c-header .header-menu-list-item > a, .c-header .c-header-item.right .wrap .content > ul > li > a, .c-header-item.right .wrap .c-header .content > ul > li > a, .c-header .c-header-item.left .content > ul > li > a, .c-header-item.left .c-header .content > ul > li > a {
  color: #3E3E3E;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  padding-right: 20px;
  padding-left: 15px;
  padding-top: 5px;
  height: 100%;
  height: 12px;
  /*border-right: 1px solid #707070;*/
  line-height: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.c-header .header-menu-list-item .icon, .c-header .c-header-item.right .wrap .content > ul > li .icon, .c-header-item.right .wrap .c-header .content > ul > li .icon, .c-header .c-header-item.left .content > ul > li .icon, .c-header-item.left .c-header .content > ul > li .icon {
  padding-right: 6px;
}
.c-header .header-menu-list-item .icon svg, .c-header .c-header-item.right .wrap .content > ul > li .icon svg, .c-header-item.right .wrap .c-header .content > ul > li .icon svg, .c-header .c-header-item.left .content > ul > li .icon svg, .c-header-item.left .c-header .content > ul > li .icon svg {
  width: 17px;
}
.c-header .header-menu-list-item .icon svg path, .c-header .c-header-item.right .wrap .content > ul > li .icon svg path, .c-header-item.right .wrap .c-header .content > ul > li .icon svg path, .c-header .c-header-item.left .content > ul > li .icon svg path, .c-header-item.left .c-header .content > ul > li .icon svg path {
  transition: fill 0.3s;
  fill: #B2006B;
}
.c-header .header-menu-list-item:last-child > a, .c-header .c-header-item.right .wrap .content > ul > li:last-child > a, .c-header-item.right .wrap .c-header .content > ul > li:last-child > a, .c-header .c-header-item.left .content > ul > li:last-child > a, .c-header-item.left .c-header .content > ul > li:last-child > a {
  border-right: 0;
  padding-right: 0;
}
.c-header .header-menu-list-item.active > a, .c-header .c-header-item.right .wrap .content > ul > li.active > a, .c-header-item.right .wrap .c-header .content > ul > li.active > a, .c-header .c-header-item.left .content > ul > li.active > a, .c-header-item.left .c-header .content > ul > li.active > a, .c-header .header-menu-list-item:hover > a, .c-header .c-header-item.right .wrap .content > ul > li:hover > a, .c-header-item.right .wrap .c-header .content > ul > li:hover > a, .c-header .c-header-item.left .content > ul > li:hover > a, .c-header-item.left .c-header .content > ul > li:hover > a {
  color: #B2006B;
}
.c-header .header-menu-list-item.active .icon svg, .c-header .c-header-item.right .wrap .content > ul > li.active .icon svg, .c-header-item.right .wrap .c-header .content > ul > li.active .icon svg, .c-header .c-header-item.left .content > ul > li.active .icon svg, .c-header-item.left .c-header .content > ul > li.active .icon svg, .c-header .header-menu-list-item:hover .icon svg, .c-header .c-header-item.right .wrap .content > ul > li:hover .icon svg, .c-header-item.right .wrap .c-header .content > ul > li:hover .icon svg, .c-header .c-header-item.left .content > ul > li:hover .icon svg, .c-header-item.left .c-header .content > ul > li:hover .icon svg {
  width: 17px;
}
.c-header .header-menu-list-item.active .icon svg path, .c-header .c-header-item.right .wrap .content > ul > li.active .icon svg path, .c-header-item.right .wrap .c-header .content > ul > li.active .icon svg path, .c-header .c-header-item.left .content > ul > li.active .icon svg path, .c-header-item.left .c-header .content > ul > li.active .icon svg path, .c-header .header-menu-list-item:hover .icon svg path, .c-header .c-header-item.right .wrap .content > ul > li:hover .icon svg path, .c-header-item.right .wrap .c-header .content > ul > li:hover .icon svg path, .c-header .c-header-item.left .content > ul > li:hover .icon svg path, .c-header-item.left .c-header .content > ul > li:hover .icon svg path {
  fill: #B2006B;
}
.c-header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.c-header-item {
  flex: 1;
}
.c-header-item-wrap {
  height: 100%;
}
.c-header-item.left .wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 60%;
  left: 0;
}
@media only screen and (min-width: 1680px) and (max-width: 1920px) {
  .c-header-item.left .wrap {
    position: absolute !important;
    margin-top: -15px;
  }
}
@media only screen and (min-width: 1365px) and (max-width: 1679px) {
  .c-header-item.left .wrap {
    position: static;
    margin-left: -45px;
    margin-top: 10px;
  }
}
.c-header-item.left .line {
  background-color: #90A4CC;
  height: 1px;
  width: 36px;
  border-radius: 8px;
  margin-right: 10px;
}
@media only screen and (max-width: 1365px) {
  .c-header-item.left .line {
    display: none;
  }
}
.c-header-item.left .content {
  padding-bottom: 5px;
}
.c-header-item.left .content > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.c-header-item.left .content > ul > li {
  padding: 10px 0;
}
.c-header-item.right .wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.c-header-item.right .wrap .content {
  margin-top: 10px;
  padding-bottom: 0 !important;
}
.c-header-item.right .wrap .content > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.c-header-item.right .wrap .content > ul > li > a {
  font-size: 14px !important;
  height: 24px !important;
  line-height: 20px !important;
}
.c-header-item.right .wrap .content > ul > li .icon {
  padding-right: 13px !important;
}
.c-header-item.right .wrap .content > ul > li .icon svg {
  width: 19px !important;
}
.c-header-item.right .wrap .content > ul > li .icon svg path {
  fill: #90A4CC !important;
}
.c-header-item.right .wrap .content > ul > li.active .icon svg path, .c-header .c-header-item.right .wrap .content > ul > li:hover .icon svg path, .c-header-item.right .wrap .c-header .content > ul > li:hover .icon svg path {
  fill: #B2006B !important;
}
.c-header-item.logo {
  flex: unset;
  width: 192px;
}
.c-header-item.logo svg {
  height: 56px;
}
@media only screen and (max-width: 1365px) {
  .c-header-items {
    flex-wrap: wrap;
  }
  .c-header-item-logo {
    order: 1;
    flex: 0 0 100% !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .c-header-item-right {
    order: 3;
    flex: 0;
  }
  .c-header-item-right .wrap .content > ul > li > a {
    font-size: 14px !important;
  }
  .c-header-item-left {
    order: 2;
  }
  .c-header-item-left .wrap {
    position: static !important;
  }
  .c-header-item-left .wrap .line {
    display: none;
  }
  .c-header-item-left .wrap .content {
    margin-left: 0 !important;
    margin-bottom: -5px !important;
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 991px) {
  .c-header-item-right .wrap .content > ul > li .text {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .c-header-item-right {
    display: none;
  }
  .c-header-item-left {
    display: none;
  }
}

.-post-header .text b {
  font-weight: lighter !important;
}

.c-page-favs .c-main .c-data .favourites .icon:first-child {
  pointer-events: none;
  opacity: 0;
}
.c-page-favs .c-main .c-data .favourites .icon:last-child {
  opacity: 1 !important;
  visibility: visible;
  pointer-events: all;
}

.radio-lie .radio-wrap-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radio-lie.active .radio-item-sub, .c-header .radio-lie.header-menu-list-item:hover .radio-item-sub, .c-header .c-header-item.left .content > ul > li.radio-lie:hover .radio-item-sub, .c-header-item.left .c-header .content > ul > li.radio-lie:hover .radio-item-sub, .c-header .c-header-item.right .wrap .content > ul > li.radio-lie:hover .radio-item-sub, .c-header-item.right .wrap .c-header .content > ul > li.radio-lie:hover .radio-item-sub {
  transform: scale(1);
}
.radio-lie-wrap {
  margin-left: 7px;
}
.radio-lie-wrap .radio-item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F8F8F8;
  border: 1px solid rgba(62, 62, 62, 0.1);
  padding: 3px;
}
.radio-lie-wrap .radio-item-sub {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  background-color: #3E3E3E;
  transform: scale(0);
  transition: 0.4s;
}

.select-wrap {
  height: 100%;
}
.select-top {
  background-color: #004CBF;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #017BD0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}
.select-top .icon {
  pointer-events: none;
}
.select-top svg {
  width: 12px;
  height: 12px;
  pointer-events: none;
}
.select-top svg path {
  fill: #fff;
}
.select-top .text {
  pointer-events: none;
  transition: color 0.3s;
  pointer-events: none;
  text-overflow: ellipsis;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 991px) {
  .select-top .text {
    width: 600px;
    max-width: 80vw;
  }
}
.select-content {
  position: absolute;
  left: 9px;
  right: 9px;
  background-color: transparent;
  border: 1px solid transparent;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 0;
  pointer-events: none;
  overflow: hidden;
  padding: 0 14px;
  opacity: 0;
}
.select-content-filter {
  padding-bottom: 9px;
}
.select-content-filter-input {
  width: 100%;
  background-color: #F8F8F8;
  border: 1px solid #D5D5D5;
  padding: 5px;
  font-size: 12px;
}
.select-content-list {
  height: 250px;
  overflow-x: hidden;
}
.select-content-list ul {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  list-style: none;
}
.select-content-list ul > li {
  color: #3E3E3E;
}
.select-content-list ul > li > button {
  background-color: transparent;
  border: 0;
  padding: 1px 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
}
.select-content-list ul > li > button * {
  pointer-events: none;
}
.select.pressed .select-content {
  pointer-events: all;
  padding: 14px;
  padding-top: 7px;
  overflow: visible;
  border-color: #008DD0;
  background-color: #fff;
  opacity: 1;
  z-index: 19;
}
.select.pressed .select-top {
  background: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.select.pressed .select-top .text {
  color: #0051CC;
}

.c-post-header {
  background: linear-gradient(to bottom, #0357d6 0%, #0458d8 100%);
  box-shadow: inset 0 0 18px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
@media only screen and (max-width: 991px) {
  .c-post-header {
    padding: 10px 0;
  }
}
.c-post-header .c-col.search-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c-post-header .c-col.search-col .search {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.c-post-header .c-col.search-col .search-input {
  height: 100%;
  width: 100%;
  background-color: #0051CE;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #017BD0;
  padding: 10px 15px;
  font-size: 14px;
}
.c-post-header .c-col.search-col .search-input-wrap {
  height: 100%;
  padding: 0 9px;
  position: relative;
  width: 300px;
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .c-post-header .c-col.search-col .search-input-wrap:not(.text) {
    flex: 1 !important;
  }
}
@media only screen and (max-width: 991px) {
  .c-post-header .c-col.search-col .search-input-wrap {
    height: auto;
    padding: 20px 0;
  }
  .c-post-header .c-col.search-col .search-input-wrap:first-child {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .c-post-header .c-col.search-col .search-input-wrap:nth-child(2) {
    padding-right: 10px;
  }
  .c-post-header .c-col.search-col .search-input-wrap:nth-child(2) .select-content {
    left: 0;
    right: 10px;
  }
  .c-post-header .c-col.search-col .search-input-wrap:nth-child(3) {
    padding-left: 10px;
  }
  .c-post-header .c-col.search-col .search-input-wrap:nth-child(3) .select-content {
    right: 0;
    left: 10px;
  }
  .c-post-header .c-col.search-col .search-input-wrap:nth-child(2), .c-post-header .c-col.search-col .search-input-wrap:nth-child(3) {
    padding-top: 0;
    padding-bottom: 0;
  }
  .c-post-header .c-col.search-col .search-input-wrap.text {
    flex: 0 0 100%;
    width: 100%;
  }
}
.c-post-header .c-col.search-col .search-input::placeholder {
  color: white !important;
  opacity: 1;
}
.c-post-header .c-col.search-col .search-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 24px;
  margin: auto;
  background: transparent;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.c-post-header .c-col.search-col .search-icon svg {
  width: 15px;
}
.c-post-header .c-col.search-col .search-icon svg path {
  fill: #fff;
}
@media only screen and (max-width: 991px) {
  .c-post-header .c-col.search-col .search-icon {
    bottom: 10px;
    right: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .c-post-header .c-col.search-col .search .detail {
    display: block;
    width: auto;
  }
  .c-post-header .c-col.search-col .search .detail-wrap {
    margin-left: 20px;
    margin-right: 10px;
    width: auto;
  }
}
@media only screen and (min-width: 991px) {
  .c-post-header .c-col.search-col .search .detail {
    display: none;
  }
}
.c-post-header .c-col.search-col .col-item {
  width: 269px;
}
.c-post-header .c-col.search-col .col-item.detail-wrap {
  height: 100%;
}
.c-post-header .c-col.search-col .col-item.dump {
  display: none;
}
@media only screen and (max-width: 1365px) {
  .c-post-header .c-col.search-col .col-item {
    width: 130px;
  }
  .c-post-header .c-col.search-col .col-item.dump {
    display: none;
  }
}
.c-post-header .c-col.search-col .detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  text-decoration: none;
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .c-post-header .c-col.search-col .detail {
    display: none !important;
  }
}
.c-post-header .c-col.search-col .detail-wrap {
  text-align: right;
  background: transparent;
  border: 0;
  font-family: inherit;
  padding: 0;
  border: 0 !important;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
}
.c-post-header .c-col.search-col .detail-wrap .text {
  color: #fff;
  font-size: 12px;
  margin-right: 8px;
}
@media only screen and (max-width: 1365px) {
  .c-post-header .c-col.search-col .detail-wrap .text {
    display: none;
  }
}
.c-post-header .c-col.search-col .detail-wrap .bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24px;
  height: 22px;
  position: relative;
}
.c-post-header .c-col.search-col .detail-wrap .bars svg {
  width: 24px;
}
@media only screen and (max-width: 991px) {
  .c-post-header .c-col.search-col .detail {
    display: none;
  }
}
.c-post-header .c-col.row-items {
  position: relative;
}
.c-post-header .c-col.row-items > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.c-post-header .c-col.row-items > ul > li {
  width: 75px;
}
.c-post-header .c-col.row-items > ul > li a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #90A4CC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.c-post-header .c-col.row-items > ul > li a svg {
  height: 35px;
}
.c-post-header .c-col.row-items > ul > li a button {
  display: block;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.c-post-header .c-col.row-items > ul > li a.detail {
  position: relative;
}
.c-post-header .c-col.row-items > ul > li a.detail .a, .c-post-header .c-col.row-items > ul > li a.detail .b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  pointer-events: all;
}
.c-post-header .c-col.row-items > ul > li a.detail .b {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.c-post-header .c-col.row-items > ul > li:last-child a {
  border: 0;
}
.c-post-header .c-col.row-items > ul > li._bars > .col-item.detail .text {
  display: none;
}
.c-post-header .c-col.row-items.dropped > ul .detail .a, .c-post-header .c-col.row-items.dropped > ul .c-col.row-items > ul > li a.detail .b, .c-post-header .c-col.row-items > ul > li .c-col.row-items.dropped > ul a.detail .b {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.c-post-header .c-col.row-items.dropped > ul .detail .b {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.c-post-header .c-col.row-items .drop {
  height: 0;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s, opacity 0.5s;
}
.c-post-header .c-col.row-items .drop .menu > ul {
  margin: 0 20px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #017BD0;
}
.c-post-header .c-col.row-items .drop .menu > ul > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
}
.c-post-header .c-col.row-items .drop .menu > ul > li .icon {
  display: none;
}
.c-post-header .c-col.row-items .drop .filters .search-input-wrap.text {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.c-post-header .c-col.row-items .drop .filters .search-input-wrap.text.active, .c-post-header .c-col.row-items .drop .filters .c-header .search-input-wrap.text.header-menu-list-item:hover, .c-header .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text.header-menu-list-item:hover, .c-post-header .c-col.row-items .drop .filters .c-header .c-header-item.left .content > ul > li.search-input-wrap.text:hover, .c-header .c-header-item.left .c-post-header .c-col.row-items .drop .filters .content > ul > li.search-input-wrap.text:hover, .c-post-header .c-col.row-items .drop .filters .c-header-item.left .c-header .content > ul > li.search-input-wrap.text:hover, .c-header-item.left .c-header .c-post-header .c-col.row-items .drop .filters .content > ul > li.search-input-wrap.text:hover, .c-post-header .c-col.row-items .drop .filters .c-header .c-header-item.right .wrap .content > ul > li.search-input-wrap.text:hover, .c-header .c-header-item.right .wrap .c-post-header .c-col.row-items .drop .filters .content > ul > li.search-input-wrap.text:hover, .c-post-header .c-col.row-items .drop .filters .c-header-item.right .wrap .c-header .content > ul > li.search-input-wrap.text:hover, .c-header-item.right .wrap .c-header .c-post-header .c-col.row-items .drop .filters .content > ul > li.search-input-wrap.text:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input {
  height: 100%;
  width: 100%;
  background-color: #0051CE;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #017BD0;
  padding: 12px 15px;
  font-size: 14px;
}
.c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap {
  height: 100%;
  flex: 1;
  padding: 0 9px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap {
    height: auto;
    padding: 20px 0;
  }
  .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap:first-child {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap:nth-child(2) {
    padding-right: 10px;
  }
  .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap:nth-child(2) .select-content {
    left: 0;
    right: 10px;
  }
  .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap:nth-child(3) {
    padding-left: 10px;
  }
  .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap:nth-child(3) .select-content {
    right: 0;
    left: 10px;
  }
  .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap:nth-child(2), .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap:nth-child(3) {
    padding-top: 0;
    padding-bottom: 0;
  }
  .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input-wrap.text {
    flex: 0 0 100%;
    width: 100%;
  }
}
.c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-input::placeholder {
  color: inherit;
}
.c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-icon {
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  right: 24px;
  margin: auto;
  background: transparent;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-icon svg {
  width: 15px;
}
.c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-icon svg path {
  fill: #fff;
}
@media only screen and (max-width: 991px) {
  .c-post-header .c-col.row-items .drop .filters .search-input-wrap.text .search-icon {
    bottom: 10px !important;
    right: 30px !important;
    top: 10px;
  }
}
.c-post-header .c-col.row-items .drop .filters .select {
  margin: 10px 20px;
  margin-top: 15px;
}
.c-post-header .c-col.row-items .drop .filters .select:first-child {
  margin-top: 15px;
}
.c-post-header .c-col.row-items .drop .filters .select:last-child {
  margin-bottom: -5px;
}
.c-post-header .c-col.row-items .drop .filters .select-content {
  position: static;
  transition: height 0.3s;
  height: 0;
}
.c-post-header .c-col.row-items.dropped .drop {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

.c-footer {
  position: relative;
  overflow: hidden;
  margin-top: -10px;
}
.c-footer a {
  color: #3E3E3E;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .c-footer .inblock {
    display: block;
  }
}
.c-footer .info {
  padding: 10px 0;
}
.c-footer .info > .c-col > div {
  padding: 0 5px;
}
.c-footer .c-row {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.c-footer .c-col {
  text-align: center;
  color: #3E3E3E;
  font-size: 12px;
}
.c-footer-bottom-wrap {
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.c-footer-bottom-wrap img {
  width: 100vw;
  height: 100px;
}
@media only screen and (max-width: 767px) {
  .c-footer-bottom-wrap img {
    height: 60px;
  }
}
.c-footer #footer-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.c-footer #footer-logo svg {
  height: 20px;
  margin-top: -30px;
}
@media only screen and (max-width: 767px) {
  .c-footer #footer-logo {
    height: 40px;
  }
  .c-footer #footer-logo svg {
    margin-top: 0;
    margin-bottom: -20px;
    height: 12px;
  }
}

input[type=text], input[type=email], input[type=password], input[type=phone], textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-main {
  min-height: 60vh;
}
.c-main-box, .c-main-box-tablet, .c-main-box-mobile {
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid rgba(165, 220, 246, 0.9);
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  padding: 0;
}
@media only screen and (min-width: 1920px) {
  .c-main-box, .c-main-box-tablet, .c-main-box-mobile {
    padding: 15px !important;
  }
}
@media only screen and (max-width: 1920px) {
  .c-main-box, .c-main-box-tablet, .c-main-box-mobile {
    padding: 15px !important;
  }
}
@media only screen and (max-width: 1680px) {
  .c-main-box, .c-main-box-tablet, .c-main-box-mobile {
    padding: 15px !important;
  }
}
@media only screen and (max-width: 1365px) {
  .c-main-box, .c-main-box-tablet, .c-main-box-mobile {
    padding: 15px !important;
  }
}
@media only screen and (max-width: 991px) {
  .c-main-box, .c-main-box-tablet, .c-main-box-mobile {
    padding: 10px !important;
  }
}
@media only screen and (max-width: 767px) {
  .c-main-box, .c-main-box-tablet, .c-main-box-mobile {
    padding: 2.5px !important;
  }
}
.c-main-box-tablet, .c-main-box-mobile {
  text-decoration: none;
}
@media only screen and (max-width: 1365px) {
  .c-main-box-tablet, .c-main-box-mobile {
    padding: 15px !important;
  }
}
@media only screen and (max-width: 991px) {
  .c-main-box-tablet, .c-main-box-mobile {
    padding: 15px !important;
  }
}
@media only screen and (max-width: 767px) {
  .c-main-box-tablet, .c-main-box-mobile {
    padding: 15px !important;
  }
}
@media only screen and (max-width: 1365px) {
  .c-main-box-tablet-wrap, .c-main-box-mobile-wrap {
    padding-top: 15px !important;
  }
}
@media only screen and (max-width: 991px) {
  .c-main-box-tablet-wrap, .c-main-box-mobile-wrap {
    padding-top: 15px !important;
  }
}
@media only screen and (max-width: 767px) {
  .c-main-box-tablet-wrap, .c-main-box-mobile-wrap {
    padding-top: 10px !important;
  }
}
@media only screen and (max-width: 1365px) {
  .c-main-box-tablet-wrap:last-child, .c-main-box-mobile-wrap:last-child {
    padding-bottom: 15px !important;
  }
}
@media only screen and (max-width: 991px) {
  .c-main-box-tablet-wrap:last-child, .c-main-box-mobile-wrap:last-child {
    padding-bottom: 15px !important;
  }
}
@media only screen and (max-width: 767px) {
  .c-main-box-tablet-wrap:last-child, .c-main-box-mobile-wrap:last-child {
    padding-bottom: 10px !important;
  }
}
.c-main-box-tablet.active-favourites .favourites .icon:first-child, .active-favourites.c-main-box-mobile .favourites .icon:first-child {
  opacity: 0;
}
.c-main-box-tablet.active-favourites .favourites .icon:last-child, .active-favourites.c-main-box-mobile .favourites .icon:last-child {
  opacity: 1 !important;
}
.c-main-box-tablet.active .data-content-mobile-item-title-text, .active.c-main-box-mobile .data-content-mobile-item-title-text, .c-header .c-main-box-tablet.header-menu-list-item:hover .data-content-mobile-item-title-text, .c-header .header-menu-list-item.c-main-box-mobile:hover .data-content-mobile-item-title-text, .c-header .c-header-item.left .content > ul > li.c-main-box-tablet:hover .data-content-mobile-item-title-text, .c-header .c-header-item.left .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-title-text, .c-header-item.left .c-header .content > ul > li.c-main-box-tablet:hover .data-content-mobile-item-title-text, .c-header-item.left .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-title-text, .c-header .c-header-item.right .wrap .content > ul > li.c-main-box-tablet:hover .data-content-mobile-item-title-text, .c-header .c-header-item.right .wrap .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-title-text, .c-header-item.right .wrap .c-header .content > ul > li.c-main-box-tablet:hover .data-content-mobile-item-title-text, .c-header-item.right .wrap .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-title-text {
  border-color: #fff !important;
}
.c-main-box-tablet.active .data-content-mobile-item-title-badge, .active.c-main-box-mobile .data-content-mobile-item-title-badge, .c-header .c-main-box-tablet.header-menu-list-item:hover .data-content-mobile-item-title-badge, .c-header .header-menu-list-item.c-main-box-mobile:hover .data-content-mobile-item-title-badge, .c-header .c-header-item.left .content > ul > li.c-main-box-tablet:hover .data-content-mobile-item-title-badge, .c-header .c-header-item.left .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-title-badge, .c-header-item.left .c-header .content > ul > li.c-main-box-tablet:hover .data-content-mobile-item-title-badge, .c-header-item.left .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-title-badge, .c-header .c-header-item.right .wrap .content > ul > li.c-main-box-tablet:hover .data-content-mobile-item-title-badge, .c-header .c-header-item.right .wrap .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-title-badge, .c-header-item.right .wrap .c-header .content > ul > li.c-main-box-tablet:hover .data-content-mobile-item-title-badge, .c-header-item.right .wrap .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-title-badge {
  opacity: 0;
}
.c-main-box-mobile-wrap {
  padding-left: 5px;
  padding-right: 5px;
}
.c-main-box-mobile.active .data-content-mobile-content, .c-header .c-main-box-mobile.header-menu-list-item:hover .data-content-mobile-content, .c-header .c-header-item.left .content > ul > li.c-main-box-mobile:hover .data-content-mobile-content, .c-header-item.left .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-content, .c-header .c-header-item.right .wrap .content > ul > li.c-main-box-mobile:hover .data-content-mobile-content, .c-header-item.right .wrap .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-content {
  pointer-events: all !important;
  overflow: visible !important;
  visibility: visible !important;
  opacity: 1 !important;
}
.c-main-box-mobile.active .data-content-mobile-content > div, .c-header .c-main-box-mobile.header-menu-list-item:hover .data-content-mobile-content > div, .c-header .c-header-item.left .content > ul > li.c-main-box-mobile:hover .data-content-mobile-content > div, .c-header-item.left .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-content > div, .c-header .c-header-item.right .wrap .content > ul > li.c-main-box-mobile:hover .data-content-mobile-content > div, .c-header-item.right .wrap .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-content > div {
  opacity: 1 !important;
}
.c-main-box-mobile.active .data-content-mobile-item-head ._toggle .icon:first-child, .c-header .c-main-box-mobile.header-menu-list-item:hover .data-content-mobile-item-head ._toggle .icon:first-child, .c-header .c-header-item.left .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-head ._toggle .icon:first-child, .c-header-item.left .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-head ._toggle .icon:first-child, .c-header .c-header-item.right .wrap .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-head ._toggle .icon:first-child, .c-header-item.right .wrap .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-head ._toggle .icon:first-child {
  opacity: 0 !important;
}
.c-main-box-mobile.active .data-content-mobile-item-head ._toggle .icon:last-child, .c-header .c-main-box-mobile.header-menu-list-item:hover .data-content-mobile-item-head ._toggle .icon:last-child, .c-header .c-header-item.left .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-head ._toggle .icon:last-child, .c-header-item.left .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-head ._toggle .icon:last-child, .c-header .c-header-item.right .wrap .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-head ._toggle .icon:last-child, .c-header-item.right .wrap .c-header .content > ul > li.c-main-box-mobile:hover .data-content-mobile-item-head ._toggle .icon:last-child {
  opacity: 1 !important;
}

/*# sourceMappingURL=all.css.map */
