.button-wrap, .c-page-inner .inner-button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}
.button-link, .c-page-inner .inner-button-link {
  text-decoration: none;
  color: #fff;
  border: 0;
  padding: 11px 45px;
  font-size: 16px;
  border: 0;
  text-align: center;
  border-radius: 8px;
}
@media only screen and (max-width: 767px) {
  .button-link, .c-page-inner .inner-button-link {
    flex: 1;
  }
}

@media only screen and (max-width: 1365px) and (min-width: 767px) {
  .c-page-inner .c-main-box {
    padding: 30px 15px !important;
  }
}
.c-page-inner .inner-title {
  font-size: 22px;
  color: #3E3E3E;
  padding: 10px 50px;
  padding-top: 20px;
  padding-bottom: 29px;
}
@media only screen and (max-width: 767px) {
  .c-page-inner .inner-title {
    padding-bottom: 0;
  }
}
.c-page-inner .inner-button-link {
  background-color: #B2006B;
}
.c-page-inner .inner-items .inner-content-item {
  padding: 10px 0;
}
.c-page-inner .inner-items .inner-content-item:first-child {
  padding-top: 0;
}
.c-page-inner .inner-items .inner-content-item:last-child {
  padding-bottom: 0;
}
.c-page-inner .inner-items .inner-content-item-title {
  color: #008DD0;
  font-size: 16px;
}
.c-page-inner .inner-items .inner-content-item-text {
  padding-top: 6px;
  color: #3E3E3E;
  font-size: 14px;
}
.c-page-inner .inner-items-left .inner-content-item {
  background-color: #F8F8F8;
  border-radius: 8px;
  padding: 30px !important;
}
.c-page-inner .inner-items-left .inner-content-sub-item {
  display: flex;
  flex-direction: row;
}
.c-page-inner .inner-items-left .inner-content-sub-item-left {
  width: 40%;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 2px solid #008DD0;
}
@media only screen and (max-width: 767px) {
  .c-page-inner .inner-items-left .inner-content-sub-item {
    flex-direction: column;
  }
  .c-page-inner .inner-items-left .inner-content-sub-item-left {
    width: 100%;
    padding: initial;
    margin-right: initial;
    border: 0;
  }
}
.c-page-inner .inner-items-left .inner-content-sub-item-divider {
  padding: 15px 0;
}
@media only screen and (max-width: 1365px) and (min-width: 767px) {
  .c-page-inner .inner-items-right {
    padding: 30px;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .c-page-inner .c-main-box {
    border: 0;
    padding: 20px !important;
  }
  .c-page-inner .inner-title {
    color: #034694;
    padding-left: 0;
    padding-right: 0;
  }
  .c-page-inner .inner-items-left .inner-content-item {
    background: transparent;
    padding: 10px 0 !important;
  }
  .c-page-inner .inner-items-left .inner-content-item:last-child {
    margin-top: 0 !important;
  }
  .c-page-inner .inner-items-left .inner-content-item table {
    display: block;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 141, 208, 0.6);
  }
  .c-page-inner .inner-items-left .inner-content-item table tbody {
    display: block;
  }
  .c-page-inner .inner-items-left .inner-content-item table tbody tr {
    height: auto;
    display: block;
    padding-bottom: 10px;
  }
  .c-page-inner .inner-items-left .inner-content-item table tbody tr td {
    border: 0;
    display: block;
    width: 100%;
  }
  .c-page-inner .inner-items-left .inner-content-item table tbody tr td .title, .c-page-inner .inner-items-left .inner-content-item table tbody tr td .value {
    border: 0;
    padding-top: 5px;
    padding: 0;
  }
  .c-page-inner .inner-items-left .inner-content-item table tbody tr td .title {
    font-size: 14px;
  }
  .c-page-inner .inner-items-left .inner-content-item table tbody tr td .value {
    font-size: 16px;
  }
}

/*# sourceMappingURL=inner.css.map */
